.order-page {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fff;
}

.order-page .order-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.order-page .order-left {
    width: 860px;
    height: auto;
    background-color: white;
}

.order-page .order-left .order-nav-frame {
    margin-left: 100px;
}

.order-page .order-left .order-main-content {
    height: auto;
    margin-left: 10px;
    margin-right: 10px;  
}

.order-page .order-right {
    width: 360px;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-page .order-right .order-info-box {
    width: 372px;
    height: 308px;
    background-color: white;
}

.order-page .order-right .order-info-box .member-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-page .order-right .order-info-box .member-box .order-user-img {
    margin-top: 10px;
    width: 117px;
    height: 112px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    border-radius: 50px;
}

.order-page .order-right .order-info-box .member-box .order-user-name {
    margin-top: 10px;
    font-size: 28px;
    color: #08090D;
}

.order-page .order-right .order-info-box .member-box .order-user-prof {
    margin-top: 10px;
    font-size: 20px;
    color: #A1A1A1;
}

.order-page .order-right .order-info-box .liner {
    margin-top: 40px;
    width: 332;
    /* TODO: Line with here */
}

.order-page .order-right .order-info-box .order-user-address {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
}

.order-price {
    width: 372px;
    height: 253px;
    background-color: #fff
}

/* PAUSED ORDERS SECTION */

.order-main-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    gap: 20px;
    margin-bottom: 20px; /* Space between boxes */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: border to visualize the boxes */
    border-radius: 20px;
    box-shadow: 
    5px 5px 10px rgba(0, 0.3, 0, 0.3), /* outer shadow */
    inset 0 0 10px rgba(0, 0.3, 0, 0.3); /* inner shadow */
}

.order-main-box .orders-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    gap: 40px;
}

.order-main-box .orders-name-price .order-img-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.order-main-box .orders-name-price .price-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    /* background-color: green; */
}


.order-dish-img {
    width: 50px;
    height: 47px;
    border-radius: 50%;
}

.order-main-box .total-price-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 700px;
}

.order-main-box .total-price-box .box-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
}

.order-main-box .total-price-box .action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* PROCESS ORDER */
.process-box-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.process-action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.data-compl {
    background-color: #ece7e7;
    padding: 2px;
}

.process-action-buttons .process-verify-button {
    width: 110px;
}

/* FINISHED ORDER */

.finished-total-price-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 700px;
}

.finished-box-total {
    display: flex;
    flex-direction: row;;
    align-items: center;
    justify-content: space-between;
}